html, #page { 
	padding:0; 
	margin:0;
}

body { 
	margin:0; 
	padding:0; 
	width:100%; 
	color:#959595; 
} 

h1, h2, h3, h4, h5, h6 {
	color:#274060;
}

#page { 
	background:#eee;
}

#header, #footer, #body, #top-nav, #social-nav, #content, #content #contentbar, #content #sidebar { 
	margin:0; 
	padding:0;
	font-family:"Segoe UI";
}

/* Header */
#header-blankspace { 
	background:#eee; 
	margin:0 auto; 
	padding:10px; 
	width:970px;
}
			
/* Feature */
.feature { 
	background:#eee;
	padding:0;
}
.feature-inner { 
	margin:auto;
	padding:10px;
	width:970px;
	background:#274060; 
}
.feature-inner h1 {
	color:#EEE;
	font-size:32px;
}
			
/* Menu */
#top-nav { 
	margin-top:10px;
	margin-left:-10px; 
	width:500px; 
	height:25px;
    padding:5px;
	background:#8896AB;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	text-align:center; 
	line-height: 0px;
	font-size:15px;
	font-weight:bold;
	float:left;
}
/* List style for menu */
#top-nav ul { 
	margin-top:5px;
	list-style:none; 
	padding:0; 
	height:37px; 
	float:center;
}
#top-nav ul li { 
	margin:0; 
	padding:0 0 0 3px; 
	float:left;
}
#top-nav ul li a { 
	display:block; 
	margin:0; 
	padding:8px 20px; 
	color:#274060; 
	text-decoration:none;
}
#top-nav ul li.active a, #top-nav ul li a:hover { 
	color:#EEE;
}

/* Social button menu */
#social-nav { 
	margin-top:10px;
	margin-right:-10px; 
	height:35px;
	padding:5px;
	background:#8896AB;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	text-align:center; 
	line-height: 0px;
	font-size:15px;
	font-weight:bold;
	float:right;
}
/* List style for social buttons */
#social-nav ul { 
	margin-top:2px;
	list-style:none; 
	padding-left:0px;
	padding-right:10px;
	height:37px; 
	float:center;
}
#social-nav ul li { 
	margin:0; 
	padding:0 0 0 15px; 
	float:right;
}
#social-nav ul li a { 
	display:block; 
	margin:0; 
	padding:8px 20px; 
	color:#274060; 
	text-decoration:none;
}

/* Content */
#content-inner { margin:0 auto; padding:10px; width:970px;background:#fff;}
#content #contentbar { margin:0; padding:0; float:right; width:760px;}
#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
#content #sidebar { padding:0; float:left; width:200px;}
#content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
#content #sidebar .widget h3 a { text-decoration:none;}
#content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
#content #sidebar .widget ul li { margin:0;}
#content #sidebar .widget ul li { padding:4px 0; width:185px;}
#content #sidebar .widget ul li a { color:green; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
#content #sidebar .widget ul li a:hover { color:#BCCE98; font-weight:bold; text-decoration:none;}
	
/* Footer */
#footer { 
	margin:0 auto; 
	width:980px; 
	height:25px;
    padding:5px;
	background:#C5D5E4;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	text-align:center;
	color:#8896AB; 
	line-height:5px;
}

/* Footer blankspace */
#footer-blankspace { 
	background:#eee; 
	margin:0 auto; 
	padding:10px; 
	width:970px;
}
		
/* Clear both sides to assist with div alignment  */
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
